/* CSS Document */
body {
  /* Typ pďż˝sma bude Arial nebo sans-serif */
  font-family: Arial, Helvetica, sans-serif;
  /* Barva pozadďż˝ bude svďż˝tle ďż˝edďż˝ */
  background-color: lightgray;
  text-align: center;
}

/* Selektor pro oddďż˝l oznaďż˝enďż˝ ID obal */ 
  #obal{
    max-width: 960px;
    margin: auto;
    border: solid 1px;
    background-color: white;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
  }
  /* Maximďż˝lnďż˝ ďż˝ďż˝ďż˝ka 960 px */
  /* Nastav okraje tak, aby byl blok obal na strďż˝nce vycentrovďż˝n */
  /* Ohraniďż˝enďż˝ - plnďż˝ ďż˝edďż˝ ďż˝ďż˝ra o tlouďż˝ďż˝ce 1 pixel  */
  /* Vnitďż˝nďż˝ odsazenďż˝ - 20 pixelďż˝ */
  /* Bďż˝lďż˝ barva pozadďż˝ */
  /* Barva textu - tmavďż˝ ďż˝edďż˝ odstďż˝n, ďż˝estnďż˝ctkovďż˝ hodnoty 3 */

/* Selektor pro znaďż˝ku nav */
nav {
  text-align: center;
  background-color: #222;
  padding: 20px;
  font-size: 1.1em;
  color: lightgray;
  max-width: 960px;
  margin: auto;
  text-align: left !important;
  margin-left: -10px;
  margin-right: -10px;
}

/* Pro vďż˝echny odkazy v bloku navigace */ 
nav a{
  padding: 19px;
  /* Odkazy nebudou podtrďż˝eny */
  text-decoration: none;
  color: lightgray;
}

/* Pro vďż˝echny odkazy v bloku navigace pďż˝i pďż˝ejetďż˝ kurzoru myďż˝i */ 
nav a:hover{
  color: white;
  background-color: rgb(0,153,204);
}

h1 {
  /* Nadpis bude vycentrovďż˝n */
  text-align: center;
  /* Velikost nadpisu bude dvojnďż˝sobnďż˝ vzhledem k zďż˝kladnďż˝ velikosti pďż˝sma */
  font-size: 200%;
  /* Nadpis bude tuďż˝nďż˝ */
  font-weight: bold;
  /* Barva nadpisu bude totoďż˝nďż˝ s barvou zvďż˝raznďż˝nďż˝ho odkazu */
  color: rgb(0,153,204);;
  /* Nadpis bude vypsďż˝n velkďż˝mi pďż˝smeny */
  text-transform: capitalize;
  /* Vďż˝ďż˝ka ďż˝ďż˝dku nadpisu bude 2em */
  line-height: 2em;
}

/* Platďż˝ pro nadpisy h2 i h3 */ 
h1, h2{
  font-weight: 200; 
  line-height: 2em;
}

h2 {
  font-size: 1.6em;
  color: rgb(102,153,0);
  text-align: left;
}

h3 { 
  font-size: 1.2em;
  text-decoration: #333 dotted;
  text-align: left;
  /* Nadpisy budou podtrďż˝eny tenkou teďż˝kovanou ďż˝arou, jejďż˝ barva bude shodnďż˝ s barvou pďż˝sma */ 
}

p, li {
  line-height: 1.5em;
  margin: 1em 0 1em 0;
  /* Hornďż˝ a spodnďż˝ okraj odstavcďż˝ i odrďż˝ek budou odsazeny o hodnotu 1em */
}

p {
  /* Text odstavcďż˝ bude zarovnďż˝n do bloku */
  text-align: left;
}

li {
  list-style-type: disc;
  /* Nastavte styl odrďż˝ek tak, aby odpovďż˝dal pďż˝edloze (ďż˝tvercovďż˝ odrďż˝ka) */
  list-style-position: outside;
  margin-left: 20px;
}

/* Nastavte pravidlo pro všechny tučně a modře zvýrazněné texty v odrážkách. */
li>b{

}
.poznamka{
  border-left: solid gray 10px;
  padding-left: 50px;
  font-size: 90%;
  font-style: italic;
}
/* Nastavte pravidlo pro všechny odstavce-poznámky: 
    * na levém okraji bude šedé ohraničení 10px silné
    * text bude zleva odsazen o 50 pixelů
    * použitý font bude o 10% menší než základní písmo
    * písmo bude nakloněné (kurzíva)
*/

footer {
  color: gray;
  margin: 10px auto;
  /* Zďż˝patďż˝ bude zarovnďż˝no na stďż˝ed */
  text-align: center;
  font-size: 80%;
}

em{
  color: rgb(0,153,204);
  font-weight: bold;
}

.left{
  text-align: left;
}

strong {
  font-weight: bold;
}
mark{
  color: white;
  background-color: rgb(102,153,0);
}

/* Nastavte pravidla pro znaďż˝ky vloďż˝enďż˝ do textu ďż˝vodnďż˝ho odstavce,
   aby koneďż˝nďż˝ vzheld textu odpovďż˝dal pďż˝edloze. */

